@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    --font1:'great vibes',verdana;
    --cor1:#6E452D;
    --cor2:#F0C4AA;
    --cor3:#6E5A4E;
    --cor4:#BA754C;


}
*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 200px;
    width: 100vp;
    background-image:linear-gradient(to bottom,var(--cor1),var(--cor2))
}
 
h1 {
    font-family: var(--font1);
    font-size: 4em;
    text-align: center;
    padding-top:50px;
    color: #6E5A4E;
    
}
header >p{
    font-family: var(--font1);
    text-align: center;
    font-size: 2em;
    padding-bottom: 50px;

}
div{
    height: 800px;
    width: 430px;
    background-color: black;
    display: inline-block;
    background-size: cover;
}

.foto{
    
}

.foto1{
    background-image: url(imagens/andyone-lgODpII88DE-unsplash.jpg);

}
.foto2{
    background-image: url(imagens/edz-norton-PEttXYw9hi8-unsplash.jpg);
}
.foto3{
    background-image: url(imagens/fernando-andrade-potCPE_Cw8A-unsplash.jpg);
}
.foto4{
    background-image: url(imagens/michela-ampolo-7tDGb3HrITg-unsplash.jpg);
}

nav{
    background-color: #F0C4AA;
    padding: 0px ;
    text-align: center;
}
nav > a{
    padding:8px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #6E5A4E;
    
}
a:hover{
    background-color: #BA754C;
    color: #fff;
}